# generic
*.swp
*.swo
*.DS_Store
.~lock.*
.cache
.directory
.tmp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# editors
*.idea
*.pycharm_helpers/
*.sublime-*
.vscode

# pytest
.coverage
.pytest_cache

data/
.env
